In [20]:
import numpy as np
import pandas as pd

In [44]:
df = pd.read_csv('dbo.production_data_volve.csv')

In [59]:
# Create a new column that concatenates WELL_TYPE and FLOW_KIND
df['wellType'] = df['WELL_TYPE'] + ' ' + df['FLOW_KIND']

# Group the data by the wellType column and calculate the summary statistics
grouped = df.groupby('wellType').agg({
    'WELL_BORE_CODE': 'count',
    'AVG_DOWNHOLE_TEMPERATURE': 'min',
    'AVG_ANNULUS_PRESS': 'max',
    'AVG_DP_TUBING': 'mean',
    'BORE_OIL_VOL': 'sum',
    'BORE_GAS_VOL': 'sum',
    'BORE_WAT_VOL': 'sum'})

# Rename the columns to match the SQL query
grouped = grouped.rename(columns={
    'WELL_BORE_CODE': 'recordCount',
    'AVG_DOWNHOLE_TEMPERATURE': 'minDownholeTemp',
    'AVG_ANNULUS_PRESS': 'maxAnnulusPress',
    'AVG_DP_TUBING': 'avgDpTubing',
    'BORE_OIL_VOL': 'totalOilVolume',
    'BORE_GAS_VOL': 'totalGasVolume',
    'BORE_WAT_VOL': 'totalWaterVolume'})

# Sort the data by totalOilVolume, totalGasVolume, and totalWaterVolume
grouped = grouped.sort_values(by=['totalOilVolume', 'totalGasVolume', 'totalWaterVolume'], ascending=False)

print (grouped)

               recordCount  minDownholeTemp  maxAnnulusPress  avgDpTubing  \
wellType
OP production         9143              0.0        30.019828   154.045010
WI production           18              0.0        23.879317    81.203375
WI injection          6473              NaN              NaN          NaN

               totalOilVolume  totalGasVolume  totalWaterVolume
wellType
OP production     10033830.73    1.474862e+09       15317679.30
WI production         3249.88    5.079981e+05            899.05
WI injection             0.00    0.000000e+00              0.00

In [60]:
print (df)

                   DATEPRD  WELL_BORE_CODE  NPD_WELL_BORE_CODE  \
0      2014-04-07 00:00:00   NO 15/9-F-1 C                7405
1      2014-04-08 00:00:00   NO 15/9-F-1 C                7405
2      2014-04-09 00:00:00   NO 15/9-F-1 C                7405
3      2014-04-10 00:00:00   NO 15/9-F-1 C                7405
4      2014-04-11 00:00:00   NO 15/9-F-1 C                7405
...                    ...             ...                 ...
15629  2016-09-14 00:00:00  NO 15/9-F-5 AH                5769
15630  2016-09-15 00:00:00  NO 15/9-F-5 AH                5769
15631  2016-09-16 00:00:00  NO 15/9-F-5 AH                5769
15632  2016-09-17 00:00:00  NO 15/9-F-5 AH                5769
15633  2016-09-18 00:00:00  NO 15/9-F-5 AH                5769

      NPD_WELL_BORE_NAME  NPD_FIELD_CODE NPD_FIELD_NAME  NPD_FACILITY_CODE  \
0             15/9-F-1 C         3420717          VOLVE             369304
1             15/9-F-1 C         3420717          VOLVE             369304
2             15/9-F-1 C         3420717          VOLVE             369304
3             15/9-F-1 C         3420717          VOLVE             369304
4             15/9-F-1 C         3420717          VOLVE             369304
...                  ...             ...            ...                ...
15629           15/9-F-5         3420717          VOLVE             369304
15630           15/9-F-5         3420717          VOLVE             369304
15631           15/9-F-5         3420717          VOLVE             369304
15632           15/9-F-5         3420717          VOLVE             369304
15633           15/9-F-5         3420717          VOLVE             369304

      NPD_FACILITY_NAME  ON_STREAM_HRS  AVG_DOWNHOLE_PRESSURE  ...  AVG_WHP_P  \
0        MÆRSK INSPIRER            0.0                0.00000  ...    0.00000
1        MÆRSK INSPIRER            0.0                    NaN  ...    0.00000
2        MÆRSK INSPIRER            0.0                    NaN  ...    0.00000
3        MÆRSK INSPIRER            0.0                    NaN  ...    0.00000
4        MÆRSK INSPIRER            0.0              310.37614  ...   33.09788
...                 ...            ...                    ...  ...        ...
15629    MÆRSK INSPIRER            0.0                    NaN  ...    0.07776
15630    MÆRSK INSPIRER            0.0                    NaN  ...    0.08545
15631    MÆRSK INSPIRER            0.0                    NaN  ...    0.08544
15632    MÆRSK INSPIRER            0.0                    NaN  ...    0.07497
15633    MÆRSK INSPIRER            0.0                    NaN  ...        NaN

       AVG_WHT_P  DP_CHOKE_SIZE  BORE_OIL_VOL BORE_GAS_VOL  BORE_WAT_VOL  \
0        0.00000        0.00000           0.0          0.0           0.0
1        0.00000        0.00000           0.0          0.0           0.0
2        0.00000        0.00000           0.0          0.0           0.0
3        0.00000        0.00000           0.0          0.0           0.0
4       10.47992       33.07195           0.0          0.0           0.0
...          ...            ...           ...          ...           ...
15629    0.22879        0.01862           0.0          0.0           0.0
15630    0.22914        0.00631           0.0          0.0           0.0
15631    0.22896        0.01181           0.0          0.0           0.0
15632    0.22846        0.02576           0.0          0.0           0.0
15633        NaN        0.00000           NaN          NaN           NaN

       BORE_WI_VOL   FLOW_KIND  WELL_TYPE       wellType
0              NaN  production         WI  WI production
1              NaN  production         OP  OP production
2              NaN  production         OP  OP production
3              NaN  production         OP  OP production
4              NaN  production         OP  OP production
...            ...         ...        ...            ...
15629          NaN  production         OP  OP production
15630          NaN  production         OP  OP production
15631          NaN  production         OP  OP production
15632          NaN  production         OP  OP production
15633        False   injection         WI   WI injection

[15634 rows x 25 columns]